@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    --theme__color: #427a5b;

    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  
  background-color: rgb(245 245 245);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 24px;
}

section {
    background-color: rgb(245 245 245);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    height: 3px;
    width: 0;
    transition: all 0.2s ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 20px;
    text-align: center;
}

.click {
    transition: all 0.2s ease;
}

.click:hover {
    transform: scale(1.2);
}

.click:active {
    transform: scale(0.9);
}

.green {
    color: var( --theme__color );
    font-weight: bold;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    line-height: 1;
    text-align: left;
}


 /* LANDING */

 #landing {
    min-height: 100vh;
 }

 .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 32px;
 }

 .header__paragraph {
    font-size: 24px;
    line-height: 1.75;
    max-width: 500px;
 }

 .social__list {
    margin-top: 16px;
    display: flex;
 }

 .social__link {
    background-color: var( --theme__color );
    color: white;
    height: 32px;
    width: 32px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border-radius: 50%;
 }

 .mail__button {
    color: white;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border: none;
    border-radius: 50%;
    background-color: var( --theme__color );
    position: absolute;
    bottom: 32px;
    right: 40px;

 }

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.scroll__icon::after {
    content: "";
    background-color: #242424;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1s infinite alternate-reverse;
}


@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

 /* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.personal-logo {
    height: 100px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}


/* PROJECTS */

.project {
    margin-bottom: 125px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__img {
    width: 100%;
    transition: all 0.55s ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.project__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 0.35s ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.6;
}

.project:hover .project__img {
    transform: scale(1.1);
    filter: blur(7px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    transform: translateY(100%);
    left: 90px;
    max-width: 550px;
    z-index: 3;
    top: 50%;
    opacity: 0;
    transition: all 0.19s ease-out;
}

.project__description--title {
    font-size: 30px;
}

.project__description--sub-title {
    font-size: 18px;
}

.project__description--paragraph {
    margin: 20px 0;
}

.project__description--link {
    margin-right: 8px;
    font-size: 22px;
}

.project__description--title,
.project__description--sub-title,
.project__description--paragraph,
.project__description--link {
    text-align: left;
    color: white;
}



footer {
    background-color: #242424;
    display: flex;
    padding: 4% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 90px;
}

.footer__social--link, .footer__copyright {
    color: white;
}

.footer__social--list {
    width: 100%;
    max-width: 450px;
    margin: 24px 0;
    display: flex;
    justify-content: space-around;
}

.footer__social--link {
    font-size: 18px;
}

.footer__copyright {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
}